.multiplicator {
  position: absolute;
  background: white;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 10;
  display: none;
}

.multiplicator.active {
  opacity: 1;
  display: flex;
}

.multiplicator-row {
  padding: 10px 8px;
}

.multiplicator-row:hover {
  background: rgb(129, 124, 124);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.multiplicator-row:nth-last-child(1) {
  border-bottom: none;
}

.multiplicator-col {
  color: black;
  text-align: center;
  cursor: pointer;
}

.multiplicator-row:hover .multiplicator-col {
  color: white;
}
